@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<form style="margin-left:10px;" method="post" action="">
    <!-- 使用post 傳遞使用者帳密-->
    <h1>請輸入帳號及密碼</h1>
    <div>
        <span style="color:red">@ViewBag.Msg</span>  <!-- 錯誤提示用的 -->
        <span style="color:red">@TempData["Msg2"]</span>  <!-- 註冊後登入提示用的 -->
    </div>
    <div class="form-group">
        <label for="exampleInputEmail">帳號</label>
        <input type="text" class="form-control" id="Userid" name="uid" placeholder="輸入帳號" value="">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">密碼</label>
        <input type="password" class="form-control" id="Userpw" name="upw" placeholder="輸入密碼" value="">
    </div>
    <button type="submit" class="btn btn-primary">登入</button>
</form>

<!--
    參考資料
    << 登入頁製作
    https://ithelp.ithome.com.tw/users/20105694/ironman/1329?page=3 <<系列
*-->
